{
  "$schema": "https://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "semi": true,
  "printWidth": 100,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "useTabs": true,
  "tabWidth": 2,
  "quoteProps": "consistent"
}